body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: Arial, Helvetica, sans-serif !important;
  max-height: 100vh;
  color: #333;
}
button, input {
  cursor: pointer;
}
::selection { 
  background-color: rgba(245, 178, 206, 0.621); 
}


/* HEADER CONTENT */
#container {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#container > header {
  border-top: 4px solid #85d6b4;
}
header h1 a:hover {
  color: #69c8b8;
}
header {
  display: flex;
  border-bottom: 1px solid #eee;
}
header aside {
  flex: 0 1 10%;
  display: flex;
  justify-content: flex-start;
}
#menu-button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 20px;
  font-size: 1em;
  white-space: nowrap;
}
#menu-button:hover,
.button:hover {
  background-color:  #187c71;
  color: white;
}
#app-header {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}


/* MAIN CONTENT*/
#main {
  overflow-y: scroll;
  overflow-x: hidden;
}


/* OBITUARY FORM */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.obituary-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
#close-button {
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
}
.obituary-form h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.obituary-form input {
  margin-bottom: 20px;
}
.obituary-form label {
  margin-bottom: 10px;
}
.form-input {
  font-size: medium;
  text-align: center;
}
.flowers {
  display: flex; 
  justify-content: center;
  margin-bottom: 15px;
}
#submit-button {
  border: none;
  outline: none;
  background-color: #187c71;
  border-radius: 10px;
  min-height: 50px;
  padding: 0 20px;
  font-size: 1em;
  white-space: nowrap;
  text-align: center;
  color: #fff;
}
#submit-button:hover {
  background-color: #85d6b4;
}


/* OBITUARIES */
 #no-ob-yet { /* "No Obituary yet" */
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 1.9em;
  font-weight: bold;
}
#description {
  margin: 0 auto;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Gabriola';
  font-size: 21px;
  text-align: left;
}
#drop-down {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 25px;
}
#drop-down:hover,
.button:hover {
  color: #187c71;
}
.obituaries-list {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-between; to evenly distribute the containers */
  margin: 0 -1.1rem;
}
.obituary-container {
  align-self: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-bottom: 0.5rem;
  display: flex;
  text-align: center;
  width: calc(25% - 22px); /* to account for the container's margin */
  height: auto;
  margin: 1.1rem 0.55rem; /* to add space between the containers */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.obituary-content {
  display: flex;
  flex-direction: column;
  justify-content: top;
}
.obituary-container img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.obituary-container h2 {
  padding: 0.3rem;
}
.date-container {
  padding-bottom: 0.3rem;
  font-size: 14px;
  color: gray;
}


/* Style for audio player */
audio {
  width: 100%;
  margin-top: 10px;
}


/* Style for play/pause button */
#playPauseBtn {
  display: block;
  width: 35px;
  height: 35px;
  margin: 10px auto;
  border: 1.5px solid #000;
  border-radius: 60%;
  background-color: transparent;
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-play-512.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
#playPauseBtn.pause {
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-pause-512.png');
}


/* Style for media adjustment */  
@media (max-width: 900px) { /* 2 per row */
  .obituaries-list {
    padding-top: 1rem;
    padding-left: 6.5rem;
    padding-right: 4rem;
    gap: 45px;
    flex-wrap: wrap;
  }
  .obituary-container {
    align-self: flex-start;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 0.5rem;
    display: flex;
    text-align: center;
    width: 37.5%;
    height: auto;
    margin: 1.1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  .obituary-container img {
    width: 100%;
  }
}

@media (max-width: 650px) { /* 1 per row */
  .obituaries-list {
    flex-wrap: wrap;
    padding-left: 4rem;
    padding-right: 3rem;
    justify-content: center;
  }
  .obituary-container {
    width: 70%;
    margin-bottom: 2.2rem;
    margin: 1.1rem 0.55rem; /* to add space between the containers */
  }
}